<ul>
  <li class="text" *ngFor="let item of items$ | async">
    {{item.name}}
  </li>
</ul>

<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer [opened]="true" class="mat-drawer-sidenav" mode="side">
    <div class="logo-container"> PLATZ FÜR LOGO
    </div>
    <ul class="menu-items">
      <li routerLink="/" routerLinkActive="router-link-active"><mat-icon>grid_view</mat-icon>Dashboard</li>
      <li routerLink="/user" routerLinkActive="router-link-active"><mat-icon>person</mat-icon>User</li>
    </ul>
  </mat-drawer>
  <div class="mat-drawer-sidenav-content">
    <mat-toolbar>
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>

      <span>CRM Simple System</span>
    </mat-toolbar><div class="router-container">
    <router-outlet>
    </router-outlet></div>
  </div>
</mat-drawer-container>
